{% extends "layout.html" %}

{% block content %}
<div class="title text-center mb-4">
  <h1>NUESTROS PRODUCTOS</h1>
  <h2>Disfruta de todos nuestros productos en varios colores y tallas</h2>
</div>
<div class="row">
  <div class="col-md-4 mb-4">
    <div class="card text-center text-white bg-dark">
      <img src="../static/images/blusa.jpg" class="card-img-top" height="300">
      <div class="card-body">
        <h5 class="card-title">BLUSAS</h5>
        <p class="card-text">Blusas para mujer en varios modelos y colores</p>
        <p>Tallas: S M</p>
        <p>Colores</p>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-4">
    <div class="card text-center">
      <img src="../static/images/buso.jpg" class="card-img-top" height="300">
      <div class="card-body">
        <h5 class="card-title">BUSOS</h5>
        <p class="card-text">Busos para caballeros en varios colores</p>
        </br>
        <p>Tallas: S M</p>
        <p>Colores</p>       
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-4">
    <div class="card text-center">
      <img src="../static/images/chaleco.jpg" class="card-img-top" height="300">
      <div class="card-body">
        <h5 class="card-title">CHOMPA CHALECO</h5>
        <p class="card-text">Chompas de dos piezas, puede hacerse buso o chaleco</p>
        <p>Tallas: S M</p>
        <p>Colores</p>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-4">
    <div class="card text-center">
      <img src="../static/images/chompaM.jpg" class="card-img-top" height="300">
      <div class="card-body">
        <h5 class="card-title">CHOMPA</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
          content.
          This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>

  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>

  <img class="rounded-circle bg-dark" style="height:30px; width: 30px" />
  <img class="rounded-circle bg-dark" style="height:30px; width: 30px" />
  <img class="rounded-circle bg-dark" style="height:30px; width: 30px" />


</div>




{%endblock%}