{% extends "layout.html" %}

{% block content %}
<div class="title text-center mb-4">
  <h1>NUESTROS PRODUCTOS</h1>
  <h2>Disfruta de todos nuestros productos en varios colores y tallas</h2>
</div>
<div class="row">
  <div class="col-md-4 mb-4">
    <div class="card text-center text-white bg-dark">
      <img src="../static/images/blusa.jpg" class="card-img-top" height="300">
      <div class="card-body">
        <h5 class="card-title" style="font-weight: bold;">BLUSAS</h5>
        <p class="card-text">Blusas para mujer en varios modelos y colores</p>
        <p><b>Tallas:</b> S M</p>
        <p><b>Colores</b>
          <img class="bg-primary" style="height:15px; width: 15px" />
          <img class="bg-secondary" style="height:15px; width: 15px" />
          <img class="bg-success" style="height:15px; width: 15px" />
          <img class="bg-white" style="height:15px; width: 15px" />
          <img class="bg-danger" style="height:15px; width: 15px" />
          <img class="bg-warning" style="height:15px; width: 15px" />
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-4">
    <div class="card text-center text-white bg-dark">
      <img src="../static/images/buso.jpg" class="card-img-top" height="300">
      <div class="card-body">
        <h5 class="card-title" style="font-weight: bold;">BUSOS</h5>
        <p class="card-text">Busos para caballeros en varios colores</p>
        </br>
        <p><b>Tallas:</b> S M</p>
        <p><b>Colores</b>
          <img class="bg-primary" style="height:15px; width: 15px" />
          <img class="bg-secondary" style="height:15px; width: 15px" />
          <img class="bg-success" style="height:15px; width: 15px" />
          <img class="bg-white" style="height:15px; width: 15px" />
          <img class="bg-danger" style="height:15px; width: 15px" />
          <img class="bg-warning" style="height:15px; width: 15px" />
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-4">
    <div class="card text-center text-white bg-dark">
      <img src="../static/images/chaleco.jpg" class="card-img-top" height="300">
      <div class="card-body">
        <h5 class="card-title" style="font-weight: bold;">CHOMPA CHALECO</h5>
        <p class="card-text">Chompas de dos piezas, puede hacerse buso o chaleco</p>
        <p><b>Tallas:</b> S M</p>
        <p><b>Colores</b>
          <img class="bg-primary" style="height:15px; width: 15px" />
          <img class="bg-secondary" style="height:15px; width: 15px" />
          <img class="bg-success" style="height:15px; width: 15px" />
          <img class="bg-white" style="height:15px; width: 15px" />
          <img class="bg-danger" style="height:15px; width: 15px" />
          <img class="bg-warning" style="height:15px; width: 15px" />
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-4">
    <div class="card text-center text-white bg-dark">
      <img src="../static/images/chompaM.jpg" class="card-img-top" height="300">
      <div class="card-body">
        <h5 class="card-title" style="font-weight: bold;">CHOMPA MUJER</h5>
        <p class="card-text">Chompa para mujer cerrada y con capucha</p>
        <p><b>Tallas:</b> S M</p>
        <p><b>Colores</b>
          <img class="bg-primary" style="height:15px; width: 15px" />
          <img class="bg-secondary" style="height:15px; width: 15px" />
          <img class="bg-success" style="height:15px; width: 15px" />
          <img class="bg-white" style="height:15px; width: 15px" />
          <img class="bg-danger" style="height:15px; width: 15px" />
          <img class="bg-warning" style="height:15px; width: 15px" />
        </p>
      </div>
    </div>
  </div>
</div>




{%endblock%}